body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    margin: 30px;
    width: 100%;
}

.calculate {
    width: 200px;
    padding: 10px;
    background-color: #c68f36;
    border: solid 1px black;
}

.getNumbers {
    display: flex;
    flex-direction: column;
}

.getNumbers input {
    margin-bottom: 10px;
    font-size: 17px;
}

.operations {
    //    padding: 10px;
    display: flex;
    flex-direction: column;
}

.operations button {
    width: 200px;
    margin: 10px 0px 0px;
}

.sum {}

.difference {}

.multiplication {}

.quotient {}

.accept__value {
    width: 200px;
}

.accept button {
    width: 200px;
}